.alternative-shop {
    align-items: center;
    background-color: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    height: 72px;
    padding: 0 24px;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 1;
}

.alternative-shop::after {
    background-color: #e9e9e9;
    bottom: 0;
    content: '';
    height: 1px;
    left: 24px;
    position: absolute;
    width: calc(100% - 48px);
}

.alternative-shop:hover {
    box-shadow: 0px 6px 6px rgba(115, 115, 115, 0.1);
    z-index: 2;
}

.alternative-shop:hover::after {
    opacity: 0;
}

.alternative-shop__logo {
    font-size: 0;
    margin-right: 24px;
    width: 80px;
}

.alternative-shop__logo-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.alternative-shop__product-name {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.alternative-shop__product-price {
    color: #000000;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}