.alternative-shop {
    margin-bottom: 16px;
}

.alternative-shop__header {
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #f1f1f1;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    height: 72px;
    padding: 0 24px;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 1;
}

.alternative-shop__logo {
    font-size: 0;
    margin-right: 40px;
    width: 80px;
}

.alternative-shop__logo-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.alternative-shop__product-name {
    color: #c1c1c1;
    font-size: 16px;
    font-weight: 400;
    margin-right: 32px;
}

.alternative-shop__available-volumes {
    align-items: center;
    display: flex;
}

.alternative-shop__volume {
    margin-right: 20px;
    position: relative;
}

.alternative-shop__available-volumes >.alternative-shop__volume:not(:last-child):after {
    content: '·';
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
}

.alternative-shop__toggle {
    cursor: pointer;
    margin-left: auto;
}

.ReactCollapse--collapse {
    position: relative;
    top: -6px;
    transition: height 500ms;
}

.alternative-shop__body {
    background-color: #fcfcfc;
    border: 2px solid #f1f1f1;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 18px 24px 12px;
}

.alternative-shop__volume-details {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding-left: 120px;
}

.alternative-shop__product-price {
    color: #000000;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}