.search-bar__container {
    position: relative;
}

.search-bar__icon {
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.react-autosuggest__container {
    display: flex;
    position: relative;
}

.react-autosuggest__input {
    border: 2px solid #f1f1f1;
    border-radius: 6px;
    color: #000000;
    height: 72px;
    font-size: 16px;
    max-width: 800px;
    padding: 0 64px 0 24px;
    width: 100%;
}

.react-autosuggest__input::placeholder {
    color: #c1c1c1;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    display: none;
    padding: 10px 0 12px;
}

.react-autosuggest__suggestions-container--open {
    border-radius: 0 0 6px 6px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    left: 0;
    max-height: 410px;
    max-width: 800px;
    overflow-y: auto;
    position: absolute;
    top: 75px;
    width: 100%;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    border: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    color: #000000;

}

.react-autosuggest__suggestion a {
    color: #000000;
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
}

.react-autosuggest__suggestion a:visited {
    color: #000000;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}
