.search-bar {
    margin: 0 auto 80px;
    max-width: 800px;
    padding-top: 40px;
    width: 100%;
}

#root,
body,
html {
    height: 100%;
}

.auth {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}